:host {
  display: flex;
  flex-direction: column;
  position: fixed;

  top: 4rem;
  right: 0;
  width: 20rem;
  max-height: calc(100vh - 5rem);
  overflow: hidden;
  gap: .5rem;
}

.item {
  width: 100%;
  max-width: 20rem;
  padding: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 1.5rem 0 0 1.5rem;
  border: 1px solid;
  background-color: var(--bg-color);

  position: relative;

  overflow: hidden;

  .line {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 90%;
    background-color: var(--main-color);
    border-radius: 2rem;

    animation: fade-in 2s ease-in-out;

    font-weight: bolder;
  }
}

.item.info {
  border-right: 5px solid;
  color: blue;
}
.item.success {
  border-right: 5px solid;
  color: green;
}
.item.warning {
  border-right: 5px solid;
  color: orange;
}
.item.error {
  border-right: 5px solid;
  color: red;
}

@keyframes fade-in {
  from {
    width: 92%;
  }
  to {
    width: 0;
  }
}
