/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

html, body {
  touch-action: pan-x pan-y; /* отключает gestures кроме прокрутки */
  overscroll-behavior: none;
}

svg {
  height: 100%;
  aspect-ratio: 1 / 1;

}
:root {
  --bg-color: rgb(248, 250, 251);
  --hover-color: rgb(242, 245, 249);
  --primary-color: white;
  --contrast-color: black;

  --main-color: #9CCE2B;
  --main-color-light:
  radial-gradient(circle, var(--main-color) 1px, transparent 8px)
  0 0 / 4px 4px
  var(--bg-color);
  --gray-color: rgba(97, 116, 142);
  --hover-gray-color: rgba(50, 65, 88);

  --border-color: color-mix(in srgb, var(--gray-color), white 80%);
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "JetBrains Mono";
  font-optical-sizing: auto;
  font-style: normal;

  user-select: none;
}
body {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;

  background-color: var(--bg-color);
}
svg * {
  width: inherit;
  height: inherit;
  fill: inherit;
  color: inherit;
  stroke: inherit;
}

.logo {
  height: 80%;
  aspect-ratio: 1/1;
  object-fit: contain;
  background-color: var(--main-color);
  border-radius: 1.25rem;

  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--contrast-color);
  font-size: 1.5rem;
  font-weight: bolder;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  height: 3rem;
  cursor: pointer;
  width: 100%;
  font-weight: 800;
  line-height: 1.5rem;
  background: transparent;
  color: var(--gray-color);
  font-size: .8rem;

  transition: all 0.3s ease;

  .label {
    font-weight: 500;
    height: fit-content;
    width: fit-content;
  }

  svg {
    height: inherit;
    aspect-ratio: 1/1;
    color: var(--gray-color);
  }
}

.btn.svg {
  height: 3.5rem;
  aspect-ratio: 1/1;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .label {
    font-size: .6rem;
  }
  svg {
    object-fit: contain;
    color: var(--gray-color);
    transition: fill 0.2s ease-in-out;
  }
}
.btn.add {
  gap: .5rem;
  height: 2rem;
  color: var(--main-color);
  svg {
    height: 60%;
    color: var(--main-color);
  }
}

.btn:hover {
  background: transparent;
  color: var(--hover-gray-color);

  svg {
    color: var(--hover-gray-color);
  }
}


.btn.secondary {
  background-color: var(--primary-color);
  color: var(--contrast-color);
  font-weight: 800;
  border-radius: 2rem;
  border: 1px solid var(--gray-color);
  justify-content: center;

  svg {
    color: var(--contrast-color);
  }

  &:hover {
    background-color: var(--main-color-light);
    color: var(--contrast-color);

    svg {
      color: var(--contrast-color);
    }
  }
}
.btn.main {
  background-color: var(--main-color);
  color: var(--bg-color);
  font-weight: 800;
  border-radius: 2rem;
  justify-content: center;
  gap: 0.5rem;


  svg {
    height: 1rem;
    color: var(--bg-color);
  }

  &:hover {
    svg {
      color: var(--contrast-color);
    }
  }
}

.input-holder {
  position: relative;
  display: flex;

  outline: 1px solid var(--border-color);
  border-radius: 2rem;

  label {
    position: absolute;
    top: 0rem;
    left: 1rem;
    padding: 0 0.2rem;
    font-size: 0.8rem;
    color: var(--gray-color);
    transform: translateY(-50%);
    background-color: var(--primary-color);
  }

  input {
    flex: 1;
    padding: 0.5rem;
    outline: none;

    border-radius: 2rem;
  }
}


.tag {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  background-color: color-mix(in srgb, var(--contrast-color), white 80%);
  color: var(--contrast-color);
  font-size: 0.8rem;


  &.class {
    background-color: var(--main-color-light);
    color: var(--main-color);
    text-shadow: 1px 1px 1px var(--contrast-color);

  }
}

h1,h2,h3,h4,h5,h6 {
  color: var(--hover-gray-color);
}
/** {*/
/*  outline: 1px solid red;*/
/*}*/
