/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

svg {
  height: 100%;
  aspect-ratio: 1 / 1;

}
:root {
  --bg-color: rgb(248, 250, 251);
  --hover-color: rgb(242, 245, 249);
  --primary-color: white;
  --contrast-color: black;

  --main-color: green;
  --gray-color: rgba(97, 116, 142);
  --hover-gray-color: rgba(50, 65, 88);

  --border-color: color-mix(in srgb, var(--gray-color), white 80%);
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "JetBrains Mono";
  font-optical-sizing: auto;
  font-style: normal;

  user-select: none;
}
body {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;

  background-color: var(--bg-color);
}
svg * {
  width: inherit;
  height: inherit;
  fill: inherit;
  color: inherit;
  stroke: inherit;
}

.logo {
  height: 80%;
  aspect-ratio: 1/1;
  object-fit: contain;
  background-color: var(--main-color);
  border-radius: 1.25rem;

  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--contrast-color);
  font-size: 1.5rem;
  font-weight: bolder;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  height: 3rem;
  cursor: pointer;
  width: 100%;
  font-weight: 800;
  line-height: 1.5rem;
  background: transparent;
  color: var(--gray-color);

  transition: all 0.3s ease;

  .label {
    font-weight: 500;
    height: fit-content;
    width: fit-content;
  }

  svg {
    height: inherit;
    aspect-ratio: 1/1;
    color: var(--gray-color);
  }
}

.btn.svg {
  height: 3.5rem;
  aspect-ratio: 1/1;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .label {
    font-size: .6rem;
  }
  svg {
    object-fit: contain;
    color: var(--gray-color);
    transition: fill 0.2s ease-in-out;
  }
}
.btn.add {
  gap: .5rem;
  height: 2rem;
  color: var(--main-color);
  svg {
    height: 60%;
    color: var(--main-color);
  }
}

.btn:hover {
  background: transparent;
  color: var(--hover-gray-color);

  svg {
    color: var(--hover-gray-color);
  }
}


.tag {
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  background-color: color-mix(in srgb, var(--contrast-color), white 80%);
  color: var(--contrast-color);
  font-size: 0.8rem;
  &.class {
    background-color: color-mix(in srgb, var(--main-color), white 80%);
    color: var(--main-color);
  }
}

/** {*/
/*  outline: 1px solid red;*/
/*}*/
