:host {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.nav {
  position: relative;
  display: flex;
  flex-direction: column;

  width: 80px;
  height: 100%;
  border-radius: 0;
}

.nav .btn.svg.active {
  color: var(--main-color);
  svg {
    color: var(--main-color);
  }
}
.holder {
  position: relative;
  width: calc(100% - 4rem);
  height: 100%;
}
.header {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  gap: .5rem;
  padding: 0 1rem;

  height: 8.5vh;
  width: 100%;
  background-color: var(--primary-color);
  border-bottom: 1px solid var(--main-color);
  opacity: 90%;
  z-index: 2;
}
.content {
  height: 100%;
  width: 100%;

  overflow: auto;
  z-index: 1;
}

.headerBtns {
    display: flex;
    flex-direction: row;
    gap: .5rem;

    position: fixed;
    top: 10px;
    left: 6.5rem;

    z-index: 100;

    .btn.svg {
      width: 50px;
      height: 50px;
      padding: .5rem;
      box-shadow: 0 2px 40px color-mix(in srgb, #0f172A, white 88%);

      &:hover {
        background-color: color-mix(in srgb, var(--gray-color), white 90%);
      }
    }
  }

@media (max-width: 800px) {
  :host {
    flex-direction: column-reverse;
  }
  .nav {
    position: fixed;
    bottom: 20px;
    right: 15px;

    padding: .5rem .5rem 0rem .5rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    overflow: hidden;

    width: 80%;
    height: 4rem;
    background-color: color-mix(in srgb, var(--primary-color), transparent 20%);
    backdrop-filter: blur(15px);
    border: 1px solid color-mix(in srgb, var(--gray-color), white 70%);
    border-radius: 3rem;
    z-index: 100;

    box-shadow: 0 2px 40px color-mix(in srgb, #0f172A, white 88%);

    ng-icon:hover {
      transform: scale(1.1);
    }
  }
  .holder {
    width: 100%;
    height: 100%;
  }
  .headerBtns {
    left: 15px;
    bottom: 20px;
    top: initial;
    height: 4rem;

    .btn.svg {
      width: 4rem;
      height: 4rem;
      background-color: color-mix(in srgb, var(--primary-color), transparent 20%);
      backdrop-filter: blur(15px);
      border: 1px solid color-mix(in srgb, var(--gray-color), white 70%);

      padding: 1rem;
    }
  }
}

