:host {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.nav {
  display: flex;
  flex-direction: column;
}

.nav .btn.svg.active {
  color: var(--main-color);
  svg {
    color: var(--main-color);
  }
}
.holder {
  position: relative;
  width: 100%;
  height: 100%;
}
.header {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  gap: .5rem;
  padding: 0 1rem;

  height: 8.5vh;
  width: 100%;
  background-color: var(--primary-color);
  border-bottom: 1px solid var(--main-color);
  opacity: 90%;
  z-index: 2;
}
.content {
  height: 100%;
  width: 100%;

  overflow: auto;
  z-index: 1;
}

@media (max-width: 800px) {
  :host {
    flex-direction: column-reverse;
  }
  .nav {
    padding: 0 1rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8%;
    background-color: var(--primary-color);
    border-top: 1px solid color-mix(in srgb, var(--gray-color), white 70%);
  }
  .holder {
    width: 100%;
    height: 92%;
  }
}
