:host {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.nav {
  position: relative;
  display: flex;
  flex-direction: column;

  width: 80px;
  height: 100%;
  border-radius: 0;
}

.nav .btn.svg.active {
  color: var(--main-color);
  svg {
    color: var(--main-color);
  }
}
.holder {
  position: relative;
  width: calc(100% - 5vw);
  height: 100%;
}
.header {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  gap: .5rem;
  padding: 0 1rem;

  height: 8.5vh;
  width: 100%;
  background-color: var(--primary-color);
  border-bottom: 1px solid var(--main-color);
  opacity: 90%;
  z-index: 2;
}
.content {
  height: 100%;
  width: 100%;

  overflow: auto;
  z-index: 1;

  padding-bottom: 5rem;
}

@media (max-width: 800px) {
  :host {
    flex-direction: column-reverse;
  }
  .headerBtns {
    display: flex;
    flex-direction: row;
    gap: .5rem;

    position: fixed;
    top: 10px;
    left: 10px;

    width: calc(100% - 20px);

    z-index: 100;

    .btn.svg {
      width: 50px;
      height: 50px;
      padding: .5rem;
      box-shadow: 0 2px 20px color-mix(in srgb, #0f172A, white 88%);
    }
  }
  .nav {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    padding: .5rem .5rem 0rem .5rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    overflow: hidden;

    width: 80%;
    height: 4rem;
    background-color: color-mix(in srgb, var(--primary-color), transparent 20%);
    backdrop-filter: blur(10px);
    border: 1px solid color-mix(in srgb, var(--gray-color), white 70%);
    border-radius: 3rem;
    z-index: 100;
  }
  .holder {
    width: 100%;
    height: 100%;
  }
}

