:host, app-block {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 4.5rem;

  .avatar {
    height: inherit;
    width: 4.5rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .info {
    .name {
      font-size: 1.25rem;
      font-weight: bolder;
    }
    .rating {
      font-size: 1rem;
      color: var(--main-color);
      display: flex;
      align-items: center;
      gap: .25rem;
    }
  }
  .category {
    position: absolute;
    right: 0;
  }
}
.body {
  display: flex;
  flex-direction: column;


  .title {
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 0.5rem;
  }
  .description {
    margin-bottom: .5rem;
  }
  .tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: .5rem;

    app-tag {
      width: fit-content;
    }
  }
}

.footer {
  .price {
    margin-bottom: 1.5rem;
  }
}


.RequestOfferModal {
  padding-top: .5rem;
  width: 30vw;
  height: 15vh;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .body {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
}