:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: center;
}

h2 {
  color: var(--contrast-color);
}

app-project-preview {
  width: 90%;
}

.header {
  width: 100%;
  height: 4rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn.create {
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;
  height: 70%;
  width: fit-content;
  aspect-ratio: 1/1;

  svg {
    height: 90%;
    aspect-ratio: 1/1;
    color: var(--gray-color);
  }
}

.holder {
  width: 100%;
  height: calc(100% - 4rem);
  overflow: auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: flex-start;
  gap: 1rem;
  padding-top: 1rem;
}


@media (min-width: 801px) {
  .holder {
    justify-content: flex-start;
    align-items: flex-start;

    flex-direction: row;
    flex-wrap: wrap;

    padding: 1rem;
  }
}
