:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: center;
}

h2 {
  color: var(--contrast-color);
}

app-project-preview {
  width: 90%;
}

.header {
  width: 100%;
  height: 3rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
}

.btn.create {
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;
  height: 30px;
  width: 30px;
  aspect-ratio: 1/1;

  svg {
    height: 90%;
    aspect-ratio: 1/1;
    color: var(--contrast-color);
  }
}

.holder {
  width: 100%;
  height: calc(100% - 4rem);
  overflow: auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: flex-start;
  gap: 1rem;
  padding-top: 1rem;
}
