:host {
  display: flex;
  align-items: center;
  background: var(--main-color-light);
  color: var(--primary-color);

  padding: .25rem 1rem;
  border-radius: 2rem;

  gap: 1rem;

  svg {
    height: 1.5rem;
    aspect-ratio: 1/1;
  }
}


:host.dep {
  background: darkgray;
  color: var(--primary-color);
}
:host.role {
  background: green;
  color: var(--primary-color);
  text-transform: capitalize;
}
