:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;

  gap: 1rem;

  overflow: auto;
}


.header {
  display: flex;
  flex-direction: row-reverse;

  justify-content: space-between;
  align-items: center;

  width: 95%;
  height: fit-content;
}
.members {
  display: flex;

  gap: 0;
  .avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: lightgray;
    border: 2px solid white;

    &:not(:last-child) {
      margin-right: -1rem;
    }
  }
}
.info {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}
.action-buttons {
  display: flex;
  gap: .5rem;

  .btn {
    padding: 5px;
    height: 3.5rem;
    width: 3.5rem;

  }
}
.item {
  width: 100%;
  height: 100%;
}


.Links,.ReadMe {
  padding: 1rem 1rem;
  .header {
    height: 2rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;

    padding: 0;
    gap: 0.5rem;
    svg {
      color: var(--main-color);
    }
  }
  .body {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    .tags-holder {
      display: flex;
      gap: .5rem;
      flex-wrap: wrap;

      height: fit-content;
      width: 100%;
    }
  }
}

.Links {
  .links-holder {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    .link{
      display: flex;
      align-items: center;
      gap: .5rem;

      svg {

        height: 2rem;

        &.github {
          color: black;
        }
        &.linkedin {
          color: #0A66C2;

        }
      }
    }
  }
}

app-block {
  width: 95%;
}
