:host {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  gap: 1rem;

  overflow: auto;
}


.header {
  display: flex;
  flex-direction: row-reverse;

  justify-content: space-between;
  padding: 0 1rem;

  height: 3rem;
}
.members {
  display: flex;

  .avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: lightgray;
    margin-right: -1rem;
    border: 2px solid white;
  }
}
.info {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}
.action-buttons {
  display: flex;
  gap: .5rem;
}
.item {
  width: 100%;
  height: 100%;
}
