:host {
  width: 100%;
  display: flex;
  flex-direction: column;

  overflow: visible;
}
.header {
  position: relative;
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;

  padding: 0 1rem;

  background: var(--primary-color);

  height: 4rem;

  .btn {
    width: fit-content;
  }
  svg {
    height: 2rem;
    aspect-ratio: 1/1;
  }
}

.body {
  width: 100%;
  height: calc(100% - 4rem);

  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 20%;
  overflow: visible;
}

app-block {
  height: 100%;
  padding: 1rem;

  .header {
    height: 3rem;
    align-items: center;
    font-weight: 600;
    background: var(--primary-color);
  }
  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
  }
}


.body {
  display: grid;
  grid-template-areas:
    'a b'
    'd c'
    'e .';

  padding: 2rem 10%;

  app-block {
    width: 40vw;
  }
}

.btn.save {
  position: absolute;
  right: 1rem;

  &.disabled {
    pointer-events: none;
    opacity: 0.6;
  }
}

.add-skill {
  padding: 1rem 1rem;
  font-size: .9rem;
}
.tags-holder {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
}


@media (max-width: 800px) {
  .body {
    display: flex;
    flex-direction: column;
    padding: 1rem 5% 0 5%;

    app-block {
      width: 100%;
    }
  }
}
