:host {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}
.header {
  position: relative;
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;

  padding: 0 1rem;

  background: var(--primary-color);

  height: 4rem;

  .btn {
    width: fit-content;
  }
  svg {
    height: 2rem;
    aspect-ratio: 1/1;
  }
}

.body {
  width: 100%;
  height: calc(100% - 4rem);

  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  overflow: auto;
}

app-block {
  padding: 1rem;

  .header {
    height: 3rem;
    align-items: center;
    font-weight: 600;
    background: var(--primary-color);
  }
  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
  }
}

.btn.save {
  position: absolute;
  right: 1rem;
}

.add-skill {
  padding: 1rem 1rem;
  font-size: .9rem;
}
.tags-holder {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
}
