:host {
  display: block;
  width: 60vh;
  height: 80vh;

  background: var(--bg-color);

  border-radius: 2rem;

  overflow: hidden;
}

.step {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.step > .header {
  position: relative;
  width: 100%;
  height: 4rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--primary-color);

  border-bottom: 1px solid var(--border-color);

  font-size: 1.5rem;
}

.step > .content {
  width: 100%;
  height: calc(100% - 4rem);

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  flex-direction: column;

  gap: 1rem;

  padding: 1.5rem;

  overflow: auto;

  & > ng-icon {
    color: var(--gray-color);
    transform: rotate(-15deg);
    aspect-ratio: 1 / 1;
  }

  .select {
    width: fit-content;
    height: fit-content;


    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-color);
    color: var(--bg-color);

    border-radius: 1rem;

    label {
      width: 100%;
      height: 100%;
      padding: 1rem 2rem;
    }
  }
}


.item {
  width: 17vh;
  height: 17vh;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;

  border: 2px dashed var(--border-color);

  z-index: 1;

  .select label {
    font-size: 0.9rem;
    padding: .5rem 1rem;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  position: relative;
  .delete.btn {
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;

    width: 1.5rem;
    height: 1.5rem;

    ng-icon {
      color: red;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}


.btn.add.more {
  width: 100%;
  height: 100%;

  border: 2px dashed var(--main-color);

  border-radius: 2rem;

  padding: .5rem !important;

  label {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    ng-icon {
      color: var(--main-color);
    }
  }
}


app-block {
  padding: 1rem;

  .header {
    height: 2rem;
    align-items: center;
    font-weight: 600;
    background: var(--primary-color);
  }
  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
  }

  .body {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    .input-holder {
      width: 70%;
    }
  }
}
.add-skill {
  padding: 1rem 1rem;
  font-size: .9rem;
}
.tags-holder {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
}

.add-more-photos .content {
  display: grid; justify-content: space-between; grid-template-columns: repeat(3, 17vh); grid-template-rows: repeat(4, 17vh);
}

@media (max-width: 800px) {
  :host {
    position: absolute;
    bottom: 0;

    border-radius: 2rem 2rem 0 0;
    width: 100vw;
    height: 90vh;

    overflow: hidden;
  }
.item {
  width: 45vw;
  height: 45vw;
}

  .step > .header {
    font-size: 1rem;
  }
  .step > .content {
    padding: 1rem 0.5rem;
    display: grid; justify-content: space-between; grid-template-columns: repeat(2, 45vw); grid-template-rows: repeat(2, 45vw);
  }
}