:host {
  display: flex;
  flex-direction: column;

  padding: 0 1rem;

  padding-top: 1rem;

  gap: 1rem;
}
.projects-holder {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


@media (min-width: 801px) {
  .projects-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }
}
