:host {
  display: flex;
  flex-direction: column;
  padding: 2rem 5vw 0 5vw;
  gap: 2rem;
  width: 100%;
  height: 100%;
}
.holder {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  aspect-ratio: 1 / 1;
  grid-auto-rows: 25vh;
  gap: 1.5rem;

  width: 100%;
  height: 100%;
  overflow-y: auto;

  padding-bottom: 5rem;
}

@media (max-width: 1400px) {
  .holder {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 800px) {
  :host {
    padding: 1rem 5vw 0 5vw;
  }
  .holder {
    grid-template-columns: repeat(1, 1fr);
  }
}