:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding: 1rem;

  width: 100%;
  height: 100%;

  gap: 1rem;
}
.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

.users-holder {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  height: fit-content;
  padding-bottom: 6rem;
}


@media (min-width: 801px) {
  .wrapper {
    width: fit-content;
    min-width: 816px;
  }
  .users-holder {
    display: grid;
    width: min-content;
    grid-template-columns: repeat(2, 1fr);
  }
}
