:host {
  display: flex;
  flex-direction: column;


  padding: 1rem;

  width: 100%;
  height: 100%;

  gap: 1rem;
}
.users-holder {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  height: fit-content;
  padding-bottom: 6rem;

  app-user-preview {
    min-width: 450px;
  }
}


@media (min-width: 801px) {
  :host {
    padding: 0 15%;
  }
  .users-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }
}
