:host {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding-top: .5rem;
  padding-bottom: 1rem;
}
app-block .header {
  width: 100%;
  position: relative;
  .btn {
    position: relative;
    right: .5rem;
    width: 8rem;
    height: fit-content;
  }
}

.Main-Info {
  .header {
    position: relative;
    .banner {
      height: 10rem;
      width: 100%;
      background-color: var(--main-color);
      border-radius: 2rem 2rem 0 0;
    }
    .avatar {
      position: relative;
      left: 1.2rem;
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      border: 0.25rem solid var(--primary-color);
      background-color: var(--primary-color);

      margin-bottom: -3.5rem;
      transform: translateY(-50%);

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
  .body {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    .tags {
      display: flex;
      gap: 0.5rem;
      margin-bottom: 0.5rem;
    }
    .blocks {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      .block-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.2rem;
        background-color: var(--bg-color);
        padding: 1rem;
        border-radius: 1rem;

        .number {
          font-weight: bold;
          font-size: 1.2rem;
        }
        .label {
          font-size: 0.9rem;
          color: var(--gray-color);
        }
      }
    }
    .bio {
      font-size: .8rem;
      color: var(--gray-color);
    }
    .email, .registered-since {
      display: flex;
      align-items: flex-start;

      gap: 0.5rem;
      font-size: .8rem;
      color: var(--gray-color);
      svg {
        height: 1rem;
        aspect-ratio: 1/1;
      }
    }
  }
}

.Skill-Set, .Projects-List {
  .header {
    height: 2rem;
    display: flex;
    align-items: center;

    gap: 0.5rem;
    svg {
      color: var(--main-color);
    }
  }
  .body {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    .tags-holder {
      display: flex;
      gap: .5rem;
      flex-wrap: wrap;

      height: fit-content;
      width: 100%;

      .tag {
      }
    }
  }
}

.Projects-List {
  .header {}
  .body {

    .projects-holder {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .project {
        background-color: var(--bg-color);
        border-radius: 1rem;
        max-height: 350px;

        border: 1px solid var(--border-color);
        .img {
          height: 160px;
          width: 100%;
          background-color: var(--main-color);
          border-radius: 1rem 1rem 0 0;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 1rem 1rem 0 0;
          }
        }
        .info {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          position: relative;
          height: 55%;
          padding: 0.5rem 1rem;
          .likes {
            color: deeppink;
            position: absolute;
            bottom: 1rem;
            right: 1rem;
            display: flex;
            align-items: center;
            gap: 0.25rem;
            height: 1.5rem;
          }
        }

      }
    }
  }
}


@media (min-width: 801px) {
  :host {
    align-items: flex-start;
    padding: 0 20%;
    gap: 2rem;
  }
}
