:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}
app-block {
  width: 100%;
  background-color: var(--bg-color);
  border-radius: 1rem;

  padding: 0;
  max-height: 400px;

  border: 1px solid var(--border-color);
  .img {
    height: 200px;
    width: 100%;
    background-color: var(--main-color);
    border-radius: 1rem 1rem 0 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1rem 1rem 0 0;
    }
  }
  .info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
    height: 55%;
    padding: 0.5rem 1rem;
    .tags-holder {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 5px;
    }
    .likes {
      color: deeppink;
      position: absolute;
      bottom: 0;
      right: .5rem;
      display: flex;
      align-items: center;
      gap: 0.25rem;
      height: 1.5rem;
    }
  }

}

app-block {
  padding: 0 0 1rem 0;
}


@media (min-width: 801px) {
  :host {
    max-width: 300px;
  }
}
