name: CI/CD Pipeline

on:
  push:
    branches: [ dev ]
  pull_request:
    types: [ closed ]
    branches: [ dev ]

jobs: 
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: |
          cd server
          npm i

      - name: Run tests
        run: |
          cd server
          npx jest

      - name: Build project
        run: |
          cd server
          npx tsc

  docker-builds:
    runs-on: ubuntu-latest
    needs: build-and-test

    strategy:
      matrix:
        include:
          - name: backend
            context: ./server
            tag: ${{ secrets.DOCKERHUB_USERNAME }}/htlink-backend:latest
          - name: frontend
            context: ./client
            tag: ${{ secrets.DOCKERHUB_USERNAME }}/htlink-frontend:latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push ${{ matrix.name }} image
        uses: docker/build-push-action@v6
        with:
          context: ${{ matrix.context }}
          push: true
          tags: ${{ matrix.tag }}
          platforms: linux/amd64,linux/arm64

  notify:
    needs: [build-and-test, docker-builds]
    runs-on: ubuntu-latest
    if: always()
    steps:
      - name: Send Telegram result
        run: |
          if [ "${{ needs.build-and-test.result }}" = "success" ] && [ "${{ needs.docker-builds.result }}" = "success" ]; then
            STATUS="✅ CI/CD прошёл успешно (тесты + оба Docker-имиджа)"
          else
            STATUS="❌ CI/CD упал (тесты или Docker-билды)"
          fi

          TEXT="$STATUS в репо $GITHUB_REPOSITORY, ветка $GITHUB_REF, коммит $GITHUB_SHA"

          curl -s -X POST https://api.telegram.org/bot${{ secrets.TG_BOT_TOKEN }}/sendMessage \
            -d chat_id=${{ secrets.TG_CHAT_ID }} \
            --data-urlencode text="$TEXT"

  # deploy:
  #   runs-on: ubuntu-latest
  #   needs: docker-builds
  #   steps:
  #     - name: Deploy to VPS via SSH
  #       uses: appleboy/ssh-action@v1.0.3
  #       with:
  #         host: ${{ secrets.SSH_HOST }}
  #         username: ${{ secrets.SSH_USER }}
  #         key: ${{ secrets.SSH_KEY }}
  #         script: |
  #           cd /root/HTLink
  #           git fetch origin
  #           git checkout dev
  #           git pull origin dev
  #           docker compose pull
  #           docker compose up -d
  #           docker image prune -f
  # test commit
