name: CI/CD Pipeline

on:
  push:
    branches: [ dev ]
  pull_request:
    types: [ closed ]
    branches: [ dev ]

jobs:
  notifyStart:
      runs-on: ubuntu-latest
      if: always()
      env:
        COMMIT_MESSAGE: ${{ github.event.head_commit.message }}
        BRANCH_NAME: ${{ github.ref_name }}
        COMMITED_BY: ${{ github.event.head_commit.author.username }}
      steps:
        - name: Send Telegram result
          run: |
            TEXT="Начало билдов в репо $GITHUB_REPOSITORY, ветка $GITHUB_REF, коммит $GITHUB_SHA, сообщение=$COMMIT_MESSAGE. Коммит от $COMMITED_BY"
  
            curl -s -X POST https://api.telegram.org/bot${{ secrets.TG_BOT_TOKEN }}/sendMessage \
              -d chat_id=${{ secrets.TG_CHAT_ID }} \
              --data-urlencode text="$TEXT"
              
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: |
          cd server
          npm i

      - name: Run tests
        run: |
          cd server
          npx jest

      - name: Build project
        run: |
          cd server
          npx tsc

  docker:
    runs-on: ubuntu-latest
    needs: build-and-test

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push backend Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./server
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/htlink-backend:latest
          platforms: linux/amd64,linux/arm64

  docker-frontend:
    runs-on: ubuntu-latest
    needs: build-and-test

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push frontend Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./client
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/htlink-frontend:latest
          platforms: linux/amd64,linux/arm64

  notifyEnd:
    needs: [docker, docker-frontend]
    runs-on: ubuntu-latest
    if: always()
    env:
      COMMIT_MESSAGE: ${{ github.event.head_commit.message }}
      BRANCH_NAME: ${{ github.ref_name }}
    steps:
      - name: Send Telegram result
        run: |
          # Проверяем результат обоих докер-джобов
          if [ "${{ needs.docker.result }}" = "success" ] && [ "${{ needs['docker-frontend'].result }}" = "success" ]; then
            STATUS="✅ Docker-билды прошли успешно (backend + frontend)"
          else
            STATUS="❌ Ошибка в одном из Docker-билдов (backend или frontend)"
          fi

          TEXT="$STATUS в репо $GITHUB_REPOSITORY, ветка $GITHUB_REF, коммит $GITHUB_SHA, сообщение=$COMMIT_MESSAGE"

          curl -s -X POST https://api.telegram.org/bot${{ secrets.TG_BOT_TOKEN }}/sendMessage \
            -d chat_id=${{ secrets.TG_CHAT_ID }} \
            --data-urlencode text="$TEXT"

  # deploy:
  #   runs-on: ubuntu-latest
  #   needs: docker
  #   steps:
  #     - name: Deploy to VPS via SSH
  #       uses: appleboy/ssh-action@v1.0.3
  #       with:
  #         host: ${{ secrets.SSH_HOST }}
  #         username: ${{ secrets.SSH_USER }}
  #         key: ${{ secrets.SSH_KEY }}
  #         script: |
  #           cd /root/HTLink
  #           git fetch origin
  #           git checkout dev
  #           git pull origin dev
  #           docker compose pull
  #           docker compose up -d
  #           docker image prune -f
